body {
    background-color: #000000; 
    color: #fff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.6;
    text-align: left; 
}

.bio-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
header, footer {
    padding: 20px;
    background-color: #000000; 
    text-align: center;
}

h1, h2 {
    color: #fff; 
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid white; 
    display: block;
    margin: 0 auto 20px; 
    border-radius: 50%; 
	object-fit: cover;
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(1.1);
}

p, table {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #fff; 
    padding: 10px;
    text-align: left;
}

ul {
    list-style: disc;
    text-align: left;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    margin-top: 20px;
    background-color: #000000;
}

@media only screen and (max-width: 768px) {
    header, footer {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    img {
        max-width: 150px; 
    }
}

@media only screen and (max-width: 480px) {
    header, footer {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.2em;
    }

    img {
        max-width: 100px; 
    }
}
